.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-customer {
    padding: 8rem 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}