.content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error {
    color: red;
}

.form-customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parameters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.parameter {
    display: flex;
    justify-content: space-between;
    width: 45%;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.parameter span:first-child {
    font-weight: bold;
}